#github "ReactiveX/RxSwift" ~> 4.0
#github "alexiosdev/Cartography" "b869987"
#github "SwiftyJSON/SwiftyJSON"
#github "onevcat/Kingfisher"
#github "SwiftKickMobile/SwiftMessages"
#github "jessesquires/JSQDataSourcesKit"
#github "dzenbot/DZNEmptyDataSet"
#github "Alamofire/Alamofire"
#github "RxSwiftCommunity/RxAlamofire" "7d17acc1280fab52663140da23438fe224831731"
github "WorldDownTown/RangeSeekSlider"
#github "zvonicek/ImageSlideshow"
#github "ElaWorkshop/TagListView" "swift-3"
#github "nickoneill/PermissionScope" "5606966"
#github "JustTwoDudes/SCImagePicker" "16c6e31"
#github "gmarm/BetterSegmentedControl" ~> 0.8
#github "malcommac/SwiftLocation"
#github "BigNerdRanch/CoreDataStack"
#github "hemantasapkota/JSQMessagesViewController"
#github "ViccAlexander/Chameleon"
#github "ashleymills/Reachability.swift"
#github "eddiekaiger/SwiftyAttributes"
